.bg-main {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Default height for small devices */
#intro-example {
    height: 300px;
  }

  /* targetas en pantalla pequeña acomodada */
  
@media (max-width: 720px) {
  .main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  .main-card {
    width: 50%;
  }

}
 /* targetas en pantalla pequeña acomodada */